$base-color: #AED6F1;
$color: black;
$color2: pink;
$radius: .35rem;
$border-width: 2px;
$color-bg: white;
$offset: .5rem;
$transition: .3s;

body {
    background-color: lightblue;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
}

form {
    width: 90%;
    max-width: 300px;
    background-color: lightblue;
    padding: 33px 40px;
    display: flex;
    align-content: center;
    flex-direction: column;
    border-radius: $radius;
}
  
label {
    text-align: center;
    font-weight: bold;
    font-size: #1E1E1F;
    margin-bottom: 26px;
}
  
textarea {
    background-color: #F9FBFC;
    border: 2px solid #202329;
    border-radius: $radius;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
}
  
textarea::placeholder {
  color: #a5a5a5;
  font-family: 'Montserrat';
  font-weight: 400;
}
  
textarea:focus {
    outline-color: $color2;
}

.CreateTodoButtom {
    font-weight: 600;
    border: solid $border-width $color;
    outline: 0;
    padding: 1rem 4rem;
    font-size: 1rem;
    background-color: $color-bg;    
    border-radius: $radius;
    position: relative;
    cursor: pointer;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color2;
        z-index: -1;
        border-radius: $radius;
        border: solid $border-width $color;
        transition: all $transition ease-in-out;
    }
}

button.CreateTodoButtom {
    &::after {
        border: 0;
        box-shadow: 0px 0px 0px $border-width $color;
        top: $offset;
        left: $offset;
    }
      
    &:hover {
        background-color: $color2;
        border: 0;
        &::after {
          background-color: $color;
          box-shadow: none;
        }
    }   
}

.TodoCounter h2 {
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding: 4px;
}

.TodoCounter p {
    text-align: center;
    margin: 8px 0 20px;
    font-weight: 600;
}


.TodoSearch {
    background: #F9FBFC;
    border-radius: $radius;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 48px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
  
.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
}
  
.TodoSearch:focus {
    outline-color: $color2;
}

.TodoItem {
    background-color: #FAFAFA;
    border-radius: $radius;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}
  
.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}
  
.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 30px;
    font-weight: bold;
    /* background-color: #CCC; */
}
  
.Icon-check {
    position: absolute;
    left: 12px;
}

.Icon-check--active {
    color: #4caf50;
}
  
.Icon-delete {
    position: absolute;
    right: 0;
}

.Icon-delete:hover {
    color: red;
}

.ModalBackground {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.TodoForm-buttonContainer {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    color: #202329;
    font-weight: 500;
    width: 120px;
    height: 48px;
    border-radius: $radius;
    background-color: $color-bg;  
}

.TodoForm-button:hover {
    background: $color2;
    color: $color;
    border: solid $border-width $color;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);

}

.LoadingTodo-container {
    position: relative;
    display: flex;
    border-radius: $radius;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(40, 25, 80, 0.15);
}

.LoadingTodo-text {
    margin: 24px 0px 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.LoadingTodo-Icon {
    animation: rotation 2s infinite linear;
}

.LoadingTodo-container {
    background: linear-gradient(90deg, rgba(250,250,250,1), rgb(200,199,199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

.EmptyTodo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
}

.EmptyTodo-container span {
    font-size: 64px;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}